@import "mocha.css"; 

* {
    font-family: "JetBrainsMono Nerd Font", "Symbols Nerd Font";
    font-size: 16px;
    min-height: 0;
    font-weight: bold;
}

window#waybar {
    background: transparent;
    background-color: rgba(0, 0, 0, 0.5);
    color: @overlay0;
    transition-property: background-color;
    transition-duration: 0.1s;
}

#window {
    margin: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

button {
    border: none;
    border-radius: 0;
}

button:hover {
  color: @mauve;
  background-color: @surface0;
  border-radius: 10px;
}

#workspaces button {
  padding: 1px 4px;
  margin: 0;
}

#workspaces button.focused {
  background-color: rgba(0, 0, 0, 0.5);
  color: @mauve;
  border-top: 2px solid @mauve;
}

#workspaces button.active {
  background-color: rgba(0, 0, 0, 0.5);
  color: @mauve;
  border-bottom: 2px solid @mauve;
  border-top: 2px solid @mauve;
}

#workspaces button.urgent {
  background-color: @red;
}

#clock {
  background: transparent;
  color: @lavender;
  border-bottom: 2px solid @lavender;
}

#clock.date {
  background: transparent;
  color: @lavender;
  border-bottom: 2px solid @lavender;
}

#clock:hover {
  background-color: @surface0;
  border-radius: 10px;
}

#network {
  background: transparent;
  transition: background-color 0.2s;
}

#network.wifi {
  padding: 2px 12px;
  margin: 2px;
  color: @flamingo;
  border-bottom: 2px solid @flamingo;
}

#network.ethernet {
  padding: 2px 12px;
  margin: 2px;
  color: @flamingo;
  border-bottom: 2px solid @flamingo;
}

#network.wifi:hover,
#network.ethernet:hover {
  background-color: @surface0;
  border-radius: 10px;
}

#bluetooth {
  background: transparent;
  color: @blue;
  padding: 2px 12px;
  margin: 2px;
  border-bottom: 2px solid @blue;
}

#bluetooth:hover {
  background-color: @surface0;
  border-radius: 10px;
}

#pulseaudio {
  background: transparent;
  color: @teal;
  padding: 2px 12px;
  margin: 2px;
  border-bottom: 2px solid @teal;
}

#pulseaudio:hover {
  background-color: @surface0;
  border-radius: 10px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}
